RewriteEngine On
# Set the base directory of your project
RewriteBase /TDW/
# Redirect all requests to index.php except for existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]
RewriteRule ^admin/partner/([0-9]+)$ /admin.php?page=partner&id=$1 [L,QSA]